{% extends "base.html" %}
{% block cssLinksAndTitle %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet"/>
<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" rel="stylesheet"/>
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
 </script>
 <script crossorigin="anonymous" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js">
 </script>
 <title>
  SelectedBlog - Change Igniters
 </title>
 {% endblock cssLinksAndTitle %}
 
 {% block body %}
 <body style="background-image:linear-gradient(to bottom right, rgb(175, 177, 180), rgb(225, 229, 236))">
 <!-- <body style="background-image:linear-gradient(to bottom right, rgb(175, 177, 180), rgb(225, 229, 236))"> -->
  {% endblock body %}
{% block mainContent %}


<!-- page top -->
<div id="blogPage-top">
  <div class="home-content text-light position-absolute start-50 translate-middle" style="top: 260px !important;">
    <h1>{{post_selected.title}}</h1>
    <h2 class="text-uppercase">{{post_selected.Subtitle}}</h2>
    <!-- <h4>BY {{post_selected.author}}<span class="text-muted dateBlog">  Dated: {{post_selected.timeStamp}}</span></h4> -->

  </div>
</div>
  <!-- Slider -->
        <!-- <div class="image-sliderBlog">
          <div class="images"></div>
          <div class="thumbnails"></div>
          <div class="back-btn">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </div>
          <div class="next-btn">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>
        </div> -->

<!-- Text and Images -->
        <div class="container blogContainer">
        <!--<div class="blogText">
            <h2>Increasing demand for coders</h2> 
            <p > As the world becomes more and more digital, the demand for skilled coders is increasing rapidly. According to the Bureau of Labor Statistics, the employment of software developers is projected to grow 22 percent from 2019 to 2029, much faster than the average for all occupations. This means that there are plenty of job opportunities available for those who are skilled in coding.</p>
          </div>-->

          <!--<img src="/media/{{post_selected.blog_image}}" class="blogImg" alt="">-->
          <div class="blogText">
          <h2 class="text-light selectedBlogHeading">{{post_selected.first_heading}}</h2>
          <p class="text-justify">{{post_selected.first_paragraph}}</p>
        </div>
          <img src="/media/{{post_selected.blog_image}}" class="blogImg" alt="">

          <div class="blogText">
            <h2 class="text-light selectedBlogHeading">{{post_selected.second_heading}}</h2>
            <p class="text-justify">{{post_selected.second_paragraph}}</p>
          </div>

          <p class="blogCode">
              <span id="headingCode">Example Code:</span><br>
           
              // get input values from user
const rows = parseInt(document.getElementById('input-rows').value);
const cols = parseInt(document.getElementById('input-cols').value);

// create table element
const table = document.createElement('table');

// create table rows and columns
for (let i = 0; i < rows; i++) {
const tr = document.createElement('tr');
for (let j = 0; j < cols; j++) {
  const td = document.createElement('td');
  td.textContent = `(${i},${j})`;
  tr.appendChild(td);
}
table.appendChild(tr);
}

// add table to the DOM
document.getElementById('table-container').appendChild(table);
</p>




<div class="smallBarBlog"></div>
        <!-- author box -->
        <div class="container authorBox">
          <div class="u-flexCenter">
            <div class="u-flex0"><a class="avatar" href="#"><img src="{{MEDIA_URL}}static-images/Sponsors/s1.jpg" class="avatar-image avatar-image--small" alt=""></a></div>
            <div class="u-flex1 u-paddingLeft15">
              <div><a href="#" class=" blogLinkCard">Change Igniters</a></div>
              <div class="text-light">Founder of @BTC Team</div>
              <div class="text-light"><time datetime="2017-11-13T17:30:12.732Z">{{post_selected.timeStamp}}</time> &middot; <span class="readingTime">5 mins read</span></div>
            </div>
          </div>
        </div>

       <!--<h1 id="blogsHeading">MORE BLOGS FOR YOU</h1>

      

        <div class="blog_cards d-flex justify-content-center align-item-center flex-wrap blogPageCards">
        
          <div class="card-hover">
            <div class="card-hover__content">
              <h3 class="card-hover__title">
               <b>{{post.title}}</b>
              </h3>
              <p class="card-hover__text">{{post.content_summary}}</p>
              <a href="{% url 'blogs-home' %}" class="btn RegBtn card-hover__link">
                <span>Read More</span>
                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                </svg>
              </a> 
            </div>
            <img src="/media/{{post.blog_image}}" alt="">
          </div>
         
        </div>-->
           
{% endblock mainContent %}
{% block jsLinks %}
  <script>
   let subMenu;
     subMenu= document.getElementById("subMenu");
function toggleMenu() {
  subMenu.classList.toggle("open-menu");
}
  </script>
  <script>
    let images = ["/media/{{post_selected.slider_image1}}",
    "/media/{{post_selected.slider_image2}}",
    "/media/{{post_selected.slider_image3}}",
    "/media/{{post_selected.slider_image4}}",
    "/media/{{post_selected.slider_image5}}",

];

function imageSlider(parent,images){
  let currentImage = 0;
  let slider = {
    parent:parent,
    images:parent.querySelector(".images"),
    thumbnails:parent.querySelector(".thumbnails"),
    backBtn:parent.querySelector(".back-btn"),
    nextBtn:parent.querySelector(".next-btn")
  };
  
  slider.images.innerHTML = images.map(function(image){
    return `<img src="${image}"/>`
  }).join("");
  
  let imageNodes = slider.images.querySelectorAll("img");
  imageNodes[currentImage].classList.add("active");
  
  slider.thumbnails.innerHTML = slider.images.innerHTML;
  
  let thumbnailNodes = slider.thumbnails.querySelectorAll("img");
  thumbnailNodes[currentImage].classList.add("active");
  for(let i=0;i<thumbnailNodes.length;i++){
    thumbnailNodes[i].addEventListener("click",function(){
      slider.thumbnails.querySelector("img.active").classList.remove("active");
      thumbnailNodes[i].classList.add("active");
      imageNodes[currentImage].classList.remove("active");
      currentImage = i;
      imageNodes[currentImage].classList.add("active");
    });
  }
  
  slider.backBtn.addEventListener("click",function(){
    imageNodes[currentImage].classList.remove("active");
    currentImage--;
    if(currentImage < 0){
      currentImage = images.length - 1;
    }
    imageNodes[currentImage].classList.add("active");
    slider.thumbnails.querySelector("img.active").classList.remove("active");
    thumbnailNodes[currentImage].classList.add("active");
  });
  
  slider.nextBtn.addEventListener("click",function(){
    imageNodes[currentImage].classList.remove("active");
    currentImage = (currentImage+1) % images.length;
    imageNodes[currentImage].classList.add("active");
    slider.thumbnails.querySelector("img.active").classList.remove("active");
    thumbnailNodes[currentImage].classList.add("active");
  });
}

imageSlider(document.querySelector(".image-sliderBlog"),images);
</script>

  {% endblock jsLinks %}